.site-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(208, 25, 25, 1);
    color: #fff;

}

.socials li{
    display: inline;   
    margin: 0.3em;
}

.socials a{
    color: #fff;
    text-decoration: none;
}

.socials ul{
    margin-right: 1em;
}
