body{
    background-color: black;

}

.site{
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    text-align: center;

    background-image: url("../image/fitness-main.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position: center -10em;

}

