*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

.viewport{
    height: 50vh;
    background: #eee;
    overflow: hidden;
    position: relative;
    
}

.card{
    display: block;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

section{
    padding: 12.5em;
}
.card img{ 
    display: block;
    width: 100%;
    height: 100%;
    margin: 1em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    position: relative;
}


/* .card .icons{
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    z-index: 10;
}

.card .icons svg{
    color: #eee;
    width: 2em;
} */
/* .card:after{
    display: block;
    content: '';
    position: absolute;
    inset: 0;
    background:  rgba(0, 0, 0, 1);
    opacity: 0.4;
    transition: opacity 0.3s ease-in;
} */

.viewport:nth-child(1){
    background: linear-gradient(90deg, rgba(211,226,68,1) 3%, rgba(181,0,255,1) 100%);
}

.viewport:nth-child(2){
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}